main {
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: yellow;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

/* Category */
.category {
  width: 15%;
  height: 150px;
  margin: 30px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darksalmon;
}

.category__title {
  font-size: 30px;
}

.category__content {
  width: 150px;
  margin-top: 10px;

  font-size: 20px;
}

/* List */
.list {
  margin-top: 40px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 20px 20px;
  font-size: 22px;
  box-shadow: rgb(15 15 15 / 15%) 0px 0px 0px 2px, rgb(15 15 15 / 30%) 0px 5px 5px;
  border-radius: 5px;
}

.item-image {
  width: 150px;
  height: 150px;
}

.bucket {
  width: 25%;
}
